body {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Rockwell
}

a {
    color: white;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

.backgroundImage {
    background-image: url('images/backgroundImage.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.pageView {
    box-sizing: border-box;
    position: relative;
    padding: 50px;
    width: 100%;
    height: 100vh;
}

#boundingBox {
    position: relative;
    top: 50px;
    border-radius: 70px;
    margin: auto;
    padding: 30px;
    background-color: rgb(26, 26, 26, 0.98);
    width: 80%;
    height: 100%;
}

.nav {
    box-sizing: border-box;
    background-color: rgb(26, 26, 26, 0.98);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75px;
    z-index: 5;
}

.navButton {
    height: 100%;
    width: 100px;
    background-color: transparent;
    color: white;
    border: none;
}

.navButton:hover {
    background-color: rgb(51, 51, 51);
}

.centered {
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    margin: 10px;
    padding: 10px;
}

.project {
    display: inline-block;
    width: 35%;
    height: 200px;
    border: 1px solid grey;
}

.logo {
    box-sizing: border-box;
    height: 100%;
    display: inline;
    float: left;
}

.buttons {
    height: 100%;
    display: inline;
    float: right;
}

.contact, .info {
    /* height: 40px; */
    padding: 8px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact:hover {
    background-color: white;
    color: black;
}

.previewImage {
    display: inline;
    width: 100%;
    height: 150px;
}
