body {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 100px;
}

.pLeft {
    text-align: left;
}

.softText {
    color: grey;
    padding: 5px;
}

.backgroundImage {
    background-image: url('images/backgroundImage.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.pageView {
    box-sizing: border-box;
    position: relative;
    padding: 30px;
    padding-top: 50px;
    width: 100%;
    height: 90vh;
}

#home {
    height: 80vh;
}

#boundingBox {
    position: relative;
    top: 50px;
    border-radius: 70px;
    margin: auto;
    padding: 30px;
    background-color: rgb(26, 26, 26, 0.98);
    width: 80%;
    height: 100%;
}

.nav {
    box-sizing: border-box;
    background-color: rgb(26, 26, 26, 0.98);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75px;
    z-index: 5;
}

.navButton {
    height: 100%;
    width: 100px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.navButton:hover {
    background-color: rgb(51, 51, 51);
}

.centered {
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    margin: 10px;
    padding: 10px;
}

.centeredRel {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.project {
    display: inline-block;
    width: 35%;
    height: 300px;
    border: 1px solid grey;
    position: relative;
}

.projectRow {
    width: 100%;
    display: inline-block;
}

.logo {
    box-sizing: border-box;
    height: 75px;
    width: 75px;
    display: inline;
    float: left;
    cursor: pointer;
}

.buttons {
    height: 100%;
    display: inline;
    float: right;
}

.contact, .info {
    /* height: 40px; */
    padding: 8px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact:hover {
    background-color: white;
    color: black;
}

.previewImage {
    display: inline;
    width: 100%;
    height: 80%;
}

.projectsGrid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    /* grid-template-areas: 
        'content content'
        'content content'     
        'footer footer'; */
    
}

.grid-item {
    box-sizing: border-box;
    color: white;
    height: 200px;
    border: 1px solid white;
    /* border-radius: 20px; */
    position: relative;
    /* grid-area: content; */
}

.grid-item:hover {
    border: 3px solid red;
}

.grid-item-last {
    /* grid-area: footer; */
    cursor: not-allowed;
}

.grid-item-text {
    position: absolute;
    padding: 5px;
    bottom: 0;
    justify-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.bio {
    text-align: left;
}

.bioText {
    padding-top: 10px;
    padding-bottom: 10px;
}

.scrollerButtons {
    position: fixed;
    width: 100px;
    height: 50px;
    right: 100px;
    bottom: 0;
}

.btn {
    background-color: transparent;
    color: white;
    height: 100%;
    width: 50px;
    border: 1px solid white;
}
