body, p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.backgroundImage {
    background-image: url('backgroundImage.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

#boundingBox {
    position: relative;
    border-radius: 70px;
    margin: auto;
    padding: 20px;
    background-color: rgb(26, 26, 26, 0.98);
    width: 80%;
    height: 100vh;
}

#contactInfo {
    position: absolute;
    /* display: inline-block; */
    bottom: 10px;
}