html {
    height: 100vh;
}

body {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

img {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    /* margin: 20px; */
    padding: 0px;
}

.iframe-container {
    box-sizing: border-box;
    border-radius: 20px;
}

.iframe-container:hover {
    background-color: grey;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 100px;
}

iframe {
    pointer-events: none;
}

.pLeft {
    text-align: left;
    left: 50%;
}

.softText {
    color: grey;
    padding: 5px;
}

.backgroundImage {
    background-image: url('images/backgroundImage.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.profileImage {
    min-height: 20vh;
    min-width: 20vw;
    max-height: 50vh;
    max-width: 50vw;
}

.name {
    font-size: 5vw;
    margin-top: 50px;
}

.description {
    font-size: clamp(.5rem, 1.5vw, 1.5rem);
}

.pageView {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 30px;
    padding-top: 50px;
    width: 100%;
    height: 80vh;
}

.singlePage {
    position: relative;
    top: 55px;
    border-radius: 70px;
    margin: auto;
    padding: 30px;
    background-color: rgb(26, 26, 26, 0.98);
    width: 80%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
}

#boundingBox {
    position: relative;
    top: 50px;
    border-radius: 70px;
    margin: auto;
    padding: 30px;
    background-color: rgb(26, 26, 26, 0.98);
    width: 80%;
}

#about {
    width: 80%;
}

nav {
    box-sizing: border-box;
    background-color: rgb(26, 26, 26, 0.98);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 5;
}

.navButton {
    height: 100%;
    width: 100px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.navButton:hover {
    background-color: rgb(51, 51, 51);
}

.navLink {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-top: 25%;
    height: 75%;
}

.centered {
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    margin: 10px;
    padding: 10px;
}

.centeredRel {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.project {
    display: inline-block;
    width: 35%;
    height: 300px;
    border: 1px solid grey;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
}

.projectRow {
    width: 100%;
    display: inline-block;
}

.buttons {
    height: 100%;
    display: inline;
    float: right;
}

.contact, .info {
    padding: 8px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact:hover {
    background-color: white;
    color: black;
}

.previewImage {
    display: inline;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.projectsGrid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: auto;
}

.grid-item {
    box-sizing: border-box;
    color: white;
    height: 30vh;
    max-height: auto;
    width: 70vw;
    max-width: 750px;
    border: 1px solid white;
    margin: 20px;
    position: relative;
}

.grid-item-last {
    cursor: not-allowed;
}

.grid-item-text {
    position: absolute;
    padding: 5px;
    bottom: 0;
    justify-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: black;
}

.bio {
    box-sizing: border-box;
    text-align: left;
    height: 100%;
}

.bioText {
    padding-top: 10px;
    padding-bottom: 10px;
}

.scrollerButtons {
    position: fixed;
    width: 100px;
    height: 50px;
    right: 100px;
    bottom: 0;
}

.btn {
    background-color: transparent;
    color: white;
    height: 100%;
    width: 50px;
    border: 1px solid white;
}
